{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_curriculum/tree

    Curriculum tree template.

    Example context (json):
    {
        "wwwroot": "http://localhost/moodle",
        "programs": [
            {
                "id": 1,
                "name": "Program 1",
                "description": "Description for Program 1",
                "manageurl": "http://localhost/moodle",
                "versions": [
                    {
                        "id": 10,
                        "name": "Version 1",
                        "startdate": 1704067200,
                        "enddate": 1735689600,
                        "manageurl": "http://localhost/moodle",
                        "cycles": [
                            {
                                "id": 100,
                                "name": "Cycle 1",
                                "stage": "Stage 1",
                                "duration": 30,
                                "description": "Description for Cycle 1",
                                "manageurl": "http://localhost/moodle",
                                "items": [
                                    {
                                        "id": 1000,
                                        "coursecode": "COURSE101",
                                        "grouptemplate": "Group Template 1",
                                        "validity": 60
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    }
}}
<div class="curriculum-tree">
    <div class="curriculum-tree-controls">
        <button class="curriculum-tree-control-btn curriculum-tree-expand-all" title="{{#str}}expandall, local_curriculum{{/str}}">
            {{#str}}expandall, local_curriculum{{/str}}
        </button>
        <button class="curriculum-tree-control-btn curriculum-tree-collapse-all" title="{{#str}}collapseall, local_curriculum{{/str}}">
            {{#str}}collapseall, local_curriculum{{/str}}
        </button>
    </div>
    {{#programs}}
        <div class="curriculum-tree-node curriculum-tree-program" data-node-id="{{id}}" data-node-type="program">
            <div class="curriculum-tree-item">
                <button class="curriculum-tree-toggle" aria-expanded="true" title="{{#str}}collapse{{/str}}"></button>
                <div class="curriculum-tree-content">
                    <span class="curriculum-tree-label">
                        {{name}}
                    </span>
                    {{#description}}
                        <span class="curriculum-tree-description">{{{description}}}</span>
                    {{/description}}
                </div>
                <div class="curriculum-tree-actions">
                    <a class="curriculum-tree-action-link" href="{{manageurl}}/local/curriculum/manage.php?ptype=version&parentid={{id}}" title="{{#str}}configure, local_curriculum{{/str}}">
                        {{#pix}}a/view_list_active, core{{/pix}}
                    </a>
                </div>
            </div>

            {{#versions}}
                <div class="curriculum-tree-children">
                    <div class="curriculum-tree-node curriculum-tree-version" data-node-id="{{id}}" data-node-type="version">
                        <div class="curriculum-tree-item">
                            <button class="curriculum-tree-toggle" aria-expanded="true" title="{{#str}}collapse{{/str}}"></button>
                            <div class="curriculum-tree-content">
                                <span class="curriculum-tree-label">
                                    {{name}}
                                </span>
                                <span class="curriculum-tree-meta">
                                    {{#startdate}}
                                        {{#userdate}}{{startdate}}, %d %b %Y{{/userdate}}
                                    {{/startdate}}
                                    {{#enddate}}
                                        - {{#userdate}}{{enddate}}, %d %b %Y{{/userdate}}
                                    {{/enddate}}
                                </span>
                            </div>
                            <div class="curriculum-tree-actions">
                                <a class="curriculum-tree-action-link" href="{{manageurl}}/local/curriculum/manage.php?ptype=cycle&parentid={{id}}" title="{{#str}}configure, local_curriculum{{/str}}">
                                    {{#pix}}a/view_list_active, core{{/pix}}
                                </a>
                            </div>
                        </div>

                        {{#cycles}}
                            <div class="curriculum-tree-children">
                                <div class="curriculum-tree-node curriculum-tree-cycle" data-node-id="{{id}}" data-node-type="cycle">
                                    <div class="curriculum-tree-item">
                                        <button class="curriculum-tree-toggle" aria-expanded="true" title="{{#str}}collapse{{/str}}"></button>
                                        <div class="curriculum-tree-content">
                                            <span class="curriculum-tree-label">
                                                {{name}}
                                            </span>
                                            {{#description}}
                                                <span class="curriculum-tree-description">{{{description}}}</span>
                                            {{/description}}
                                            <span class="curriculum-tree-meta">
                                                {{#str}}stage, local_curriculum{{/str}}: {{stage}}
                                                {{#duration}}
                                                    | {{#str}}durationdays, local_curriculum{{/str}}: {{duration}}
                                                {{/duration}}
                                            </span>
                                        </div>
                                        <div class="curriculum-tree-actions">
                                            <a class="curriculum-tree-action-link" href="{{manageurl}}/local/curriculum/manage.php?ptype=cycle_item&parentid={{id}}" title="{{#str}}configure, local_curriculum{{/str}}">
                                                {{#pix}}a/view_list_active, core{{/pix}}
                                            </a>
                                        </div>
                                    </div>

                                    {{#items}}
                                        <div class="curriculum-tree-children">
                                            <div class="curriculum-tree-node curriculum-tree-item-leaf" data-node-id="{{id}}" data-node-type="item">
                                                <div class="curriculum-tree-item">
                                                    <div class="curriculum-tree-content">
                                                        <span class="curriculum-tree-label">
                                                            {{coursecode}}
                                                        </span>
                                                        {{#grouptemplate}}
                                                            <span class="curriculum-tree-description">{{grouptemplate}}</span>
                                                        {{/grouptemplate}}
                                                        <span class="curriculum-tree-meta">
                                                            {{#str}}validitydays, local_curriculum{{/str}}: {{validity}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/items}}
                                    {{^items}}
                                        <div class="curriculum-tree-children curriculum-tree-empty">
                                            <em>{{#str}}noitems, local_curriculum{{/str}}</em>
                                        </div>
                                    {{/items}}
                                </div>
                            </div>
                        {{/cycles}}
                        {{^cycles}}
                            <div class="curriculum-tree-children curriculum-tree-empty">
                                <em>{{#str}}nocycles, local_curriculum{{/str}}</em>
                            </div>
                        {{/cycles}}
                    </div>
                </div>
            {{/versions}}
            {{^versions}}
                <div class="curriculum-tree-children curriculum-tree-empty">
                    <em>{{#str}}versionstitle, local_curriculum{{/str}}: {{#str}}noprograms, local_curriculum{{/str}}</em>
                </div>
            {{/versions}}
        </div>
    {{/programs}}
</div>
