{{!
    Curriculum tree template.

    Context variables:
    @var array programs List of program objects with nested versions, cycles, and items
}}
<div class="curriculum-tree">
    <div class="curriculum-tree-controls">
        <button class="curriculum-tree-control-btn curriculum-tree-expand-all" title="{{#str}}expandall, local_curriculum{{/str}}">
            {{#str}}expandall, local_curriculum{{/str}}
        </button>
        <button class="curriculum-tree-control-btn curriculum-tree-collapse-all" title="{{#str}}collapseall, local_curriculum{{/str}}">
            {{#str}}collapseall, local_curriculum{{/str}}
        </button>
    </div>
    {{#programs}}
        <div class="curriculum-tree-node curriculum-tree-program" data-node-id="{{id}}" data-node-type="program">
            <div class="curriculum-tree-item">
                <button class="curriculum-tree-toggle" aria-expanded="true" title="{{#str}}collapse{{/str}}"></button>
                <div class="curriculum-tree-content">
                    <span class="curriculum-tree-label">
                        {{name}}
                    </span>
                    {{#description}}
                        <span class="curriculum-tree-description">{{{description}}}</span>
                    {{/description}}
                </div>
                <div class="curriculum-tree-actions">
                    <a class="curriculum-tree-action-link" href="{{manageurl}}/local/curriculum/manage.php?ptype=version&parentid={{id}}" title="{{#str}}configure, local_curriculum{{/str}}">
                        {{#pix}}a/view_list_active, core{{/pix}}
                    </a>
                </div>
            </div>

            {{#versions}}
                <div class="curriculum-tree-children">
                    <div class="curriculum-tree-node curriculum-tree-version" data-node-id="{{id}}" data-node-type="version">
                        <div class="curriculum-tree-item">
                            <button class="curriculum-tree-toggle" aria-expanded="true" title="{{#str}}collapse{{/str}}"></button>
                            <div class="curriculum-tree-content">
                                <span class="curriculum-tree-label">
                                    {{name}}
                                </span>
                                <span class="curriculum-tree-meta">
                                    {{#startdate}}
                                        {{#userdate}}{{startdate}}, %d %b %Y{{/userdate}}
                                    {{/startdate}}
                                    {{#enddate}}
                                        - {{#userdate}}{{enddate}}, %d %b %Y{{/userdate}}
                                    {{/enddate}}
                                </span>
                            </div>
                            <div class="curriculum-tree-actions">
                                <a class="curriculum-tree-action-link" href="{{manageurl}}/local/curriculum/manage.php?ptype=cycle&parentid={{id}}" title="{{#str}}configure, local_curriculum{{/str}}">
                                    {{#pix}}a/view_list_active, core{{/pix}}
                                </a>
                            </div>
                        </div>

                        {{#cycles}}
                            <div class="curriculum-tree-children">
                                <div class="curriculum-tree-node curriculum-tree-cycle" data-node-id="{{id}}" data-node-type="cycle">
                                    <div class="curriculum-tree-item">
                                        <button class="curriculum-tree-toggle" aria-expanded="true" title="{{#str}}collapse{{/str}}"></button>
                                        <div class="curriculum-tree-content">
                                            <span class="curriculum-tree-label">
                                                {{name}}
                                            </span>
                                            {{#description}}
                                                <span class="curriculum-tree-description">{{{description}}}</span>
                                            {{/description}}
                                            <span class="curriculum-tree-meta">
                                                {{#str}}stage, local_curriculum{{/str}}: {{stage}}
                                                {{#duration}}
                                                    | {{#str}}durationdays, local_curriculum{{/str}}: {{duration}}
                                                {{/duration}}
                                            </span>
                                        </div>
                                        <div class="curriculum-tree-actions">
                                            <a class="curriculum-tree-action-link" href="{{manageurl}}/local/curriculum/manage.php?ptype=cycle_item&parentid={{id}}" title="{{#str}}configure, local_curriculum{{/str}}">
                                                {{#pix}}a/view_list_active, core{{/pix}}
                                            </a>
                                        </div>
                                    </div>

                                    {{#items}}
                                        <div class="curriculum-tree-children">
                                            <div class="curriculum-tree-node curriculum-tree-item-leaf" data-node-id="{{id}}" data-node-type="item">
                                                <div class="curriculum-tree-item">
                                                    <div class="curriculum-tree-content">
                                                        <span class="curriculum-tree-label">
                                                            {{coursecode}}
                                                        </span>
                                                        {{#grouptemplate}}
                                                            <span class="curriculum-tree-description">{{grouptemplate}}</span>
                                                        {{/grouptemplate}}
                                                        <span class="curriculum-tree-meta">
                                                            {{#str}}validitydays, local_curriculum{{/str}}: {{validity}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/items}}
                                    {{^items}}
                                        <div class="curriculum-tree-children curriculum-tree-empty">
                                            <em>{{#str}}noitems, local_curriculum{{/str}}</em>
                                        </div>
                                    {{/items}}
                                </div>
                            </div>
                        {{/cycles}}
                        {{^cycles}}
                            <div class="curriculum-tree-children curriculum-tree-empty">
                                <em>{{#str}}nocycles, local_curriculum{{/str}}</em>
                            </div>
                        {{/cycles}}
                    </div>
                </div>
            {{/versions}}
            {{^versions}}
                <div class="curriculum-tree-children curriculum-tree-empty">
                    <em>{{#str}}versionstitle, local_curriculum{{/str}}: {{#str}}noprograms, local_curriculum{{/str}}</em>
                </div>
            {{/versions}}
        </div>
    {{/programs}}
</div>
